<a href="https://colab.research.google.com/github/lenasarien/Artrade-base-smart-contract/blob/main/WordCountPyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# create entry points to
!pip install pyspark
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession

spark = SparkSession \
        .builder \
        .appName("WordCountPyspark") \
        .config("spark.some.config.option", "some-value") \
        .getOrCreate()

sc = spark.sparkContext
sc

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=6480690ef37ae5f82db9b0a8ab1b02997207f6d0dc6f5378d97f54f2e1f3deb1
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [6]:
print(sc.version)

3.5.1

In [32]:
#Etape 1 - Créer un RDD à partir d'un ou plusieur fichiers texte

docs = sc.textFile("./*.txt")
docs.collect()

["(3, 'je')",
 "(3, 'de')",
 "(2, 'world')",
 "(2, 'suis')",
 "(2, 'en')",
 "(2, 'hello')",
 "(2, 'spark')",
 "(1, '!')",
 "(1, '?')",
 "(1, 'cup')",
 "(1, 'master')",
 "(1, 'tout')",
 "(1, 'le')",
 "(1, 'monde')",
 "(1, 'test')",
 "(1, 'à')",
 "(1, 'mon')",
 "(1, 'premier')",
 "(1, 'avec')",
 "(1, 'python')",
 "(1, 'comment')",
 "(1, 'allez')",
 "(1, 'vous')",
 "(1, 'étudiant')",
 "(1, '2')",
 "(1, 'analyse')",
 "(1, 'données')",
 "(1, 'plein')",
 "(1, 'fonctionnement')",
 "(1, 'cherche')",
 "(1, 'exécuter')",
 "(1, 'code')",
 'Hello World ! Comment allez vous ? world cup Je suis étudiant en master 2 analyse de données hello tout le monde je Suis en plein test de fonctionnement de spark Je cherche à exécuter mon premier code spark avec python']

In [33]:
#Etape 2 - Convertir les lignes en minuscule
minuscule = docs.map(lambda line: line.lower())
minuscule.collect()

["(3, 'je')",
 "(3, 'de')",
 "(2, 'world')",
 "(2, 'suis')",
 "(2, 'en')",
 "(2, 'hello')",
 "(2, 'spark')",
 "(1, '!')",
 "(1, '?')",
 "(1, 'cup')",
 "(1, 'master')",
 "(1, 'tout')",
 "(1, 'le')",
 "(1, 'monde')",
 "(1, 'test')",
 "(1, 'à')",
 "(1, 'mon')",
 "(1, 'premier')",
 "(1, 'avec')",
 "(1, 'python')",
 "(1, 'comment')",
 "(1, 'allez')",
 "(1, 'vous')",
 "(1, 'étudiant')",
 "(1, '2')",
 "(1, 'analyse')",
 "(1, 'données')",
 "(1, 'plein')",
 "(1, 'fonctionnement')",
 "(1, 'cherche')",
 "(1, 'exécuter')",
 "(1, 'code')",
 'hello world ! comment allez vous ? world cup je suis étudiant en master 2 analyse de données hello tout le monde je suis en plein test de fonctionnement de spark je cherche à exécuter mon premier code spark avec python']

In [35]:
#Etape 3 - Séparer les lignes en mots
mot_sep = minuscule.flatMap(lambda line: line.split(" "))
mot_sep.collect()

['(3,',
 "'je')",
 '(3,',
 "'de')",
 '(2,',
 "'world')",
 '(2,',
 "'suis')",
 '(2,',
 "'en')",
 '(2,',
 "'hello')",
 '(2,',
 "'spark')",
 '(1,',
 "'!')",
 '(1,',
 "'?')",
 '(1,',
 "'cup')",
 '(1,',
 "'master')",
 '(1,',
 "'tout')",
 '(1,',
 "'le')",
 '(1,',
 "'monde')",
 '(1,',
 "'test')",
 '(1,',
 "'à')",
 '(1,',
 "'mon')",
 '(1,',
 "'premier')",
 '(1,',
 "'avec')",
 '(1,',
 "'python')",
 '(1,',
 "'comment')",
 '(1,',
 "'allez')",
 '(1,',
 "'vous')",
 '(1,',
 "'étudiant')",
 '(1,',
 "'2')",
 '(1,',
 "'analyse')",
 '(1,',
 "'données')",
 '(1,',
 "'plein')",
 '(1,',
 "'fonctionnement')",
 '(1,',
 "'cherche')",
 '(1,',
 "'exécuter')",
 '(1,',
 "'code')",
 'hello',
 'world',
 '!',
 'comment',
 'allez',
 'vous',
 '?',
 'world',
 'cup',
 'je',
 'suis',
 'étudiant',
 'en',
 'master',
 '2',
 'analyse',
 'de',
 'données',
 'hello',
 'tout',
 'le',
 'monde',
 'je',
 'suis',
 'en',
 'plein',
 'test',
 'de',
 'fonctionnement',
 'de',
 'spark',
 'je',
 'cherche',
 'à',
 'exécuter',
 'mon',
 'premier',
 'code',
 'spark',
 'avec',
 'python']

In [36]:
#Etape 4 - produire les tuples (mot, 1)
mot_num = mot_sep.map(lambda mot : (mot,1))

In [37]:
#Etape 5 - Compter tous les mots
freq_mot = mot_num.reduceByKey(lambda a,b : a + b)
freq_mot.collect()

[("'je')", 1),
 ("'suis')", 1),
 ("'en')", 1),
 ("'hello')", 1),
 ("'spark')", 1),
 ("'?')", 1),
 ("'master')", 1),
 ("'le')", 1),
 ("'monde')", 1),
 ("'avec')", 1),
 ("'2')", 1),
 ("'analyse')", 1),
 ("'données')", 1),
 ("'plein')", 1),
 ('vous', 1),
 ('?', 1),
 ('master', 1),
 ('2', 1),
 ('analyse', 1),
 ('de', 3),
 ('plein', 1),
 ('fonctionnement', 1),
 ('cherche', 1),
 ('exécuter', 1),
 ('python', 1),
 ('(3,', 2),
 ("'de')", 1),
 ('(1,', 25),
 ("'cup')", 1),
 ("'tout')", 1),
 ("'test')", 1),
 ("'mon')", 1),
 ("'python')", 1),
 ("'comment')", 1),
 ("'vous')", 1),
 ("'code')", 1),
 ('hello', 2),
 ('world', 2),
 ('!', 1),
 ('cup', 1),
 ('étudiant', 1),
 ('en', 2),
 ('tout', 1),
 ('à', 1),
 ('mon', 1),
 ('avec', 1),
 ('(2,', 5),
 ("'world')", 1),
 ("'!')", 1),
 ("'à')", 1),
 ("'premier')", 1),
 ("'allez')", 1),
 ("'étudiant')", 1),
 ("'fonctionnement')", 1),
 ("'cherche')", 1),
 ("'exécuter')", 1),
 ('comment', 1),
 ('allez', 1),
 ('je', 3),
 ('suis', 2),
 ('données', 1),
 ('le', 1),
 ('monde', 1),
 ('test', 1),
 ('spark', 2),
 ('premier', 1),
 ('code', 1)]

In [38]:
#Etape 6 - Inverser les tuples (transformation avec swap)
occurence = freq_mot.map(lambda mot : (mot[1], mot[0]))
occurence.collect()

[(1, "'je')"),
 (1, "'suis')"),
 (1, "'en')"),
 (1, "'hello')"),
 (1, "'spark')"),
 (1, "'?')"),
 (1, "'master')"),
 (1, "'le')"),
 (1, "'monde')"),
 (1, "'avec')"),
 (1, "'2')"),
 (1, "'analyse')"),
 (1, "'données')"),
 (1, "'plein')"),
 (1, 'vous'),
 (1, '?'),
 (1, 'master'),
 (1, '2'),
 (1, 'analyse'),
 (3, 'de'),
 (1, 'plein'),
 (1, 'fonctionnement'),
 (1, 'cherche'),
 (1, 'exécuter'),
 (1, 'python'),
 (2, '(3,'),
 (1, "'de')"),
 (25, '(1,'),
 (1, "'cup')"),
 (1, "'tout')"),
 (1, "'test')"),
 (1, "'mon')"),
 (1, "'python')"),
 (1, "'comment')"),
 (1, "'vous')"),
 (1, "'code')"),
 (2, 'hello'),
 (2, 'world'),
 (1, '!'),
 (1, 'cup'),
 (1, 'étudiant'),
 (2, 'en'),
 (1, 'tout'),
 (1, 'à'),
 (1, 'mon'),
 (1, 'avec'),
 (5, '(2,'),
 (1, "'world')"),
 (1, "'!')"),
 (1, "'à')"),
 (1, "'premier')"),
 (1, "'allez')"),
 (1, "'étudiant')"),
 (1, "'fonctionnement')"),
 (1, "'cherche')"),
 (1, "'exécuter')"),
 (1, 'comment'),
 (1, 'allez'),
 (3, 'je'),
 (2, 'suis'),
 (1, 'données'),
 (1, 'le'),
 (1, 'monde'),
 (1, 'test'),
 (2, 'spark'),
 (1, 'premier'),
 (1, 'code')]

In [39]:
## Etape è - Trier les tuples par fréquence décroissante
occurrence_triee = occurence.sortByKey(ascending=False)
occurrence_triee.collect()

[(25, '(1,'),
 (5, '(2,'),
 (3, 'de'),
 (3, 'je'),
 (2, '(3,'),
 (2, 'hello'),
 (2, 'world'),
 (2, 'en'),
 (2, 'suis'),
 (2, 'spark'),
 (1, "'je')"),
 (1, "'suis')"),
 (1, "'en')"),
 (1, "'hello')"),
 (1, "'spark')"),
 (1, "'?')"),
 (1, "'master')"),
 (1, "'le')"),
 (1, "'monde')"),
 (1, "'avec')"),
 (1, "'2')"),
 (1, "'analyse')"),
 (1, "'données')"),
 (1, "'plein')"),
 (1, 'vous'),
 (1, '?'),
 (1, 'master'),
 (1, '2'),
 (1, 'analyse'),
 (1, 'plein'),
 (1, 'fonctionnement'),
 (1, 'cherche'),
 (1, 'exécuter'),
 (1, 'python'),
 (1, "'de')"),
 (1, "'cup')"),
 (1, "'tout')"),
 (1, "'test')"),
 (1, "'mon')"),
 (1, "'python')"),
 (1, "'comment')"),
 (1, "'vous')"),
 (1, "'code')"),
 (1, '!'),
 (1, 'cup'),
 (1, 'étudiant'),
 (1, 'tout'),
 (1, 'à'),
 (1, 'mon'),
 (1, 'avec'),
 (1, "'world')"),
 (1, "'!')"),
 (1, "'à')"),
 (1, "'premier')"),
 (1, "'allez')"),
 (1, "'étudiant')"),
 (1, "'fonctionnement')"),
 (1, "'cherche')"),
 (1, "'exécuter')"),
 (1, 'comment'),
 (1, 'allez'),
 (1, 'données'),
 (1, 'le'),
 (1, 'monde'),
 (1, 'test'),
 (1, 'premier'),
 (1, 'code')]

In [30]:
occurrence_triee.saveAsTextFile("Output.txt")